@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
/*
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*/
.grid-area {
  grid-template-areas:
    "nav nav"
    "main sidebar";
  display: grid;
}

.main-content {
  grid-area: main;
}

.sidebar {
  grid-area: sidebar;
  background-color: orange;
}

.nav {
  grid-area: nav;
  background-color: red;
}
